<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  You can reach me at:
  <ul>
  <li>email: dags.grinbergs@cemety.lv</li>
  <li>github: dagsagrinbergs</li>
  <li>bitbucket: DaggyOnRails</li>
  <li>University of Latvia ..every now and then
  </ul>
</p>