<% provide(:title, "Map") %>

<body>
<!--  <a href='#' id='export'>Export Features</a>
  <a href='#' id='import'>Import Features</a> -->

  <script>
  $(document).on('ready page:load', function(event) {
    // apply non-idempotent transformations to the body

    makeMapCemeteries();
    //var geojsonLayer = new L.GeoJSON.AJAX("/cemeteries.json").addTo(map);
  });
  </script>
</body>

<!-- A map will magically appear here -->
<div id="map"></div>
