<%# Cemetery name to aplication.html.erb for page title %>
<% provide(:title, @cemetery.name) %>

<%# Show Export button %>
<li><a id="export" href="#" title="Export drawn items to GeoJSON">Export</a></li>

<%# File module folder icon for later use in js script %>
<% tag = image_tag("folder.svg", class: "icon", alt: "file icon") %>

<body>
  <script>
  //
  $(document).on('ready page:load', function(event) {

    var cemeteriesLayer, plotsLayer, streetsLayer, pointsLayer, sectorsLayer, Stamen_Watercolor, baseMaps, drawControl, drawnItems, map, opencyclemap, osm, otm, overlayMaps, uploadPopup, measureControl, folderIcon, cName, cId, cAddress, cPhone_number, cCity, cRegion, cemeteryPopup;

    map = L.map("map").setView([56.9558, 24.0991], 13);

    map.options.maxZoom = 24;

    osm = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxNativeZoom: 18,
      maxZoom: 24
    }, {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    otm = L.tileLayer('http://{s}.tile.opentopomap.org/{z}/{x}/{y}.png', {
      maxNativeZoom: 17,
      maxZoom: 24,
      attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
    });

    Stamen_Watercolor = L.tileLayer('http://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.{ext}', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      maxNativeZoom: 16,
      maxZoom: 24,
      ext: 'png'
    });

    opencyclemap = L.tileLayer('http://{s}.tile.thunderforest.com/cycle/{z}/{x}/{y}.png?apikey={apikey}', {
      maxNativeZoom: 16,
      maxZoom: 24,
      attribution: '&copy; <a href="http://www.thunderforest.com/">Thunderforest</a>, &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    });

    drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);

    var cemeteryStyle = {
        "fillColor": '#6c9b6b',
        "color": 'black',
        "weight": 3,
        "fillOpacity": .5
    };

    var plotStyle = {
      "weight": 1.5,
      "fillColor" : '#704827',
      "color": 'black',
      "fillOpacity": 0.8
    };

    var sectorStyle = {
      "weight": 2,
      "color": 'gray',
      "fillColor": 'light-gray',
      "fillOpacity": 0.1
    };

    var streetStyle2 = {
      "weight": 5,
      "color": 'white',
      "fillOpacity": 0.95
    };

    var streetStyle4 = {
      "weight": 4,
      "color": 'white',
      "fillOpacity": 0.95
    };

    var streetStyle5 = {
      "weight": 1.5,
      "color": 'white',
      "fillOpacity": 0.95
    };

    var streetStyle6 = {
      "weight": 1,
      "color": 'white',
      "fillOpacity": 0.95
    };

    var coniferousIcon = L.icon({
      iconUrl: '/assets/obj-icon-coniferous-tree.png',
      iconSize:     [48, 24], // size of the icon
      iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, 0], // point from which the popup should open relative to the iconAnchor
      opacity: 0.5
    });

    var deciduousIcon = L.icon({
      iconUrl: '/assets/obj-icon-deciduous-tree.png',
      iconSize:     [48, 24], // size of the icon
      iconAnchor:   [0, 0], // point of the icon which will correspond to marker's location
      popupAnchor:  [0, 0] // point from which the popup should open relative to the iconAnchor
    });

    map.on('data:loading', function() {
      map.spin(true);
    });

    cemeteriesLayer = new L.GeoJSON.AJAX("/cemeteries/cemetery_data",{
      style: cemeteryStyle,
      onEachFeature: function (feature, layer) {
        cemeteryPopup = L.popup().setContent(
          "Name: " + feature.properties.name + "<br>" +
          "Address: " + feature.properties.address + "<br>" +
          "Phone number: " + feature.properties.phone_number + "<br>" +
          '<%= link_to "Link to cemety", "https://www.cemety.lv/cemeteries/#{$cem_id}" %>'
          );
      }
    }).addTo(map);

    sectorsLayer = new L.GeoJSON.AJAX("/cemeteries/sectors_data",{
      style: sectorStyle,
      onEachFeature: function (feature, layer) {
        layer.bindPopup("Sector Nr: " + feature.properties.label);
      }
    }).addTo(map);

    plotsLayer = new L.GeoJSON.AJAX("/cemeteries/plots_data",{
      style: plotStyle,
      onEachFeature: function (feature, layer) {
        layer.bindPopup("Plot Nr: " + feature.properties.label);
      }
    });

    streetsLayer = new L.GeoJSON.AJAX("/cemeteries/streets_data", {
      style: function (feature){
        switch(feature.properties.kind){
          case '2': return streetStyle2; break;
          case '4': return streetStyle4; break;
          case '5': return streetStyle5; break;
          case '6': return streetStyle6; break;
        }
      }
    });

    pointsLayer = new L.GeoJSON.AJAX("/cemeteries/points_data", {
      pointToLayer: function(feature, latlng) {
        switch(feature.properties.kind){
          case 'coniferous_tree': return L.marker(latlng, {icon: coniferousIcon, opacity:0.7}); break;
          case 'deciduous_tree': return L.marker(latlng, {icon: deciduousIcon, opacity:0.7}); break;
        }
      }
    });

    map.on('overlayadd', function() {
      if (map.hasLayer(drawnItems)) {
        drawnItems.bringToBack();
      }
      if (map.hasLayer(pointsLayer)) {
        pointsLayer.bringToBack();
      }
      if (map.hasLayer(plotsLayer)) {
        plotsLayer.bringToBack();
      }
      if (map.hasLayer(sectorsLayer)) {
        sectorsLayer.bringToBack();
      }
      if (map.hasLayer(streetsLayer)) {
        streetsLayer.bringToBack();
      }
      if (map.hasLayer(cemeteriesLayer)) {
        cemeteriesLayer.bringToBack();
      }
    });

    baseMaps = {
      "OpenStreetMap": osm,
      "OpenTopoMap": otm,
      "Stamen watercolor": Stamen_Watercolor,
      "No map": opencyclemap
    };
    overlayMaps = {
      "Cemetery": cemeteriesLayer,
      "Sectors": sectorsLayer,
      "Streets": streetsLayer,
      "Plots": plotsLayer,
      "Points": pointsLayer,
      "Drawn items": drawnItems
    };

    L.control.scale().addTo(map);

    drawControl = new L.Control.Draw({
      edit: {
        featureGroup: drawnItems
      },
      draw: {
        polygon: {
          allowIntersection: false,
          showArea: true
        },
        showMeasurements: true,
        polyline: true,
        circle: false,
        rectangle: false,
        imperial: false,
        marker: true
      }
    }).addTo(map);

    map.on('draw:created', function(e) {
      drawnItems.addLayer(e.layer);
    });

    map.on('zoomend', function() {
      if (map.getZoom() < 19){
        if (map.hasLayer(plotsLayer)) {
          map.removeLayer(plotsLayer);
        }
      };
      if (map.getZoom() >= 19){
        if (map.hasLayer(plotsLayer)){
          console.log("plots layer already added");
        } else {
          map.addLayer(plotsLayer);
        }
      };
      if (map.getZoom() >= 18){
        if (map.hasLayer(streetsLayer)){
          console.log("streets layer already added");
        } else {
          map.addLayer(streetsLayer);
        }
      } else {
        map.removeLayer(streetsLayer);
      };
      if (map.getZoom() >= 19){
        if (map.hasLayer(pointsLayer)){
          console.log("points layer already added");
        } else {
          map.addLayer(pointsLayer);
        }
      }
      else {
        map.removeLayer(pointsLayer);
      };
    });

    var cLat = <%= Cemetery.find(params[:id]).central_coordinates[:lat] %>;
    var cLng = <%= Cemetery.find(params[:id]).central_coordinates[:lng] %>;

    map.setView([ cLat, cLng], 16);

    L.easyButton('fa-crosshairs', function(btn, map){
      map.setView([cLat, cLng], 16)
    }).addTo(map);

    L.easyButton('<span class="dagger">&dagger;</span>', function(btn, map){
      map.setZoom(19)
    }).addTo(map);



    L.easyButton('fa-info', function(btn, map){
      cemeteryPopup.setLatLng([cLat, cLng]).openOn(map);
    }).addTo(map);

    // Truncate value based on number of decimals
    var _round = function(num, len) {
        return Math.round(num*(Math.pow(10, len)))/(Math.pow(10, len));
    };

    // Helper method to format LatLng object (x.xxxxxx, y.yyyyyy)
    var strLatLng = function(latlng) {
        return "("+_round(latlng.lat, 6)+", "+_round(latlng.lng, 6)+")";
    };

    // Generate popup content based on layer type
    // - Returns HTML string, or null if unknown object
    var getPopupContent = function(layer) {
        // Marker - add lat/long
        if (layer instanceof L.Marker) {
            return strLatLng(layer.getLatLng());
        // Polygon - area
        } else if (layer instanceof L.Polygon) {
            var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
                area = L.GeometryUtil.geodesicArea(latlngs);
            return "Area: "+L.GeometryUtil.readableArea(area, true);
        // Polyline - distance
        } else if (layer instanceof L.Polyline) {
            var latlngs = layer._defaultShape ? layer._defaultShape() : layer.getLatLngs(),
                distance = 0;
            if (latlngs.length < 2) {
                return "Distance: N/A";
            } else {
                for (var i = 0; i < latlngs.length-1; i++) {
                    distance += latlngs[i].distanceTo(latlngs[i+1]);
                }
                return "Distance: "+_round(distance, 2)+" m";
            }
        }
        return null;
    };

    // Object created - bind popup to layer, add to feature group
    map.on(L.Draw.Event.CREATED, function(event) {
        var layer = event.layer;
        var content = getPopupContent(layer);
        if (content !== null) {
            layer.bindPopup(content);
        }
        drawnItems.addLayer(layer);
    });

    // Object(s) edited - update popups
    map.on(L.Draw.Event.EDITED, function(event) {
        var layers = event.layers,
            content = null;
        layers.eachLayer(function(layer) {
            content = getPopupContent(layer);
            if (content !== null) {
                layer.setPopupContent(content);
            }
        });
    });

    document.getElementById('export').onclick = function(e) {
      // Extract GeoJson from featureGroup
      var data = drawnItems.toGeoJSON();

      // Stringify the GeoJson
      var convertedData = 'text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(data));

      // Find out desired filename
      var filename = prompt("Filename for exported geodata: ");

      if (filename) {
        // Create export
        document.getElementById('export').setAttribute('href', 'data:' + convertedData);
        document.getElementById('export').setAttribute('download', filename + '.geojson');
      }
      else {
        alert("Filename can't be empty!");
      }
    }

    var fileLayerStyle = {
      "weight":1.5,
      "fillColor" :'#704827',
      "color":'black',
      "fillOpacity":0.7
    };

    folderIcon = '<%= tag %>';
    L.Control.FileLayerLoad.LABEL = folderIcon;
    var fileload = new L.Control.fileLayerLoad({
      fitBounds: true,
      formats: [
            '.geojson',
            '.kml',
            '.json'
        ],
      layerOptions: {
        style: fileLayerStyle,
        pointToLayer: function (data, latlng) {
          return L.circleMarker(
          latlng,
          { style: fileLayerStyle }
          );
        }
      }
    }).addTo(map);

    fileload.loader.on('data:loaded', function (e) {
      // Add to map layer switcher
      layerswitcher.addOverlay(e.layer, e.filename);
    });

    var layerswitcher = L.control.layers(baseMaps, overlayMaps).addTo(map);

    measureControl = new L.Control.Measure({
      position: 'topright',
      primaryLengthUnit: 'meters',
      secondaryLengthUnit: 'kilometers',
      primaryAreaUnit: 'sqmeters',
      secondaryAreaUnit: 'hectares'
    }).addTo(map);

  });
  </script>
</body>

<!-- A map will magically appear here -->
<div id="map"></div>
