// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input {
  margin-top:10px;
  width:auto !important;
}

#export, #import {
  position: absolute;
  top:100px;
  right:10px;
  z-index:1000;
  background:white;
  color:black;
  padding:6px;
  border-radius:4px;
  font-family: 'Helvetica Neue';
  cursor: pointer;
  font-size:12px;
  text-decoration:none;
}

#import {
	top:140px;
}
