<% provide(:title, "Map") %>

<body>
  <% if logged_in? %>
    <li><a id="export" href="#">Export</a></li>
  <% end %>
	<script>
	$(document).on('ready page:load', function(event) {
	  // apply non-idempotent transformations to the body
	  initMap();
    <% if logged_in? %>
      fileControls();
    <% end %>
	});
	</script>
</body>

<!-- A map will magically appear here -->
<div id="map"></div>
