<% provide(:title, "Map") %>

<body>
  <li><a id="export" href="#">Export</a></li>
	<script>
	$(document).on('ready page:load', function(event) {
	  // apply non-idempotent transformations to the body
	  makeMap();
	});
	</script>
</body>

<!-- A map will magically appear here -->
<div id="map"></div>
