<% provide(:title, "Map") %>

<body>
	<a href='#' id='export'>Export</a>
	<a href='#' id='import'>Import</a>

	<script>
	$(document).on('ready page:load', function(event) {
	  // apply non-idempotent transformations to the body
	  makeMap();
	});
	</script>
</body>

<!-- A map will magically appear here -->
<div id="map"></div>
