<footer class="footer">
  <small>
    Rīga 2017
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.esri.com/esri-news">News</a></li>
    </ul>
  </nav>
</footer>